files/authors.pkl
files/file_name.pkl
files/message_count.pkl
files/save.pkl
files/text_formulas_russian.pkl
files/white_symbols_report.pkl
*.py[cod]
*/__pycache__
files/*
!files/antiplagiat_api.py
!files/plagiarism_report.docx
!files/spravka.docx
!files/report.docx
!files/full_text_report.docx
media/reports/*
plagiarism_report.docx
spravka.docx
report.docx

.vscode
venv