{% load static %}

<footer class="footer">
  <div class="footer__top">
    <div class="footer__container">
      <div class="footer__top-body">
        <div class="footer__cols">
          <div class="footer__col footer__col-tel">
            <div class="footer__col-title">Телефон:</div>
            <a href="tel:77051854490" class="footer__col-text">+7 (705) 185 44 90</a>
          </div>
          <div class="footer__col footer__col-email">
            <div class="footer__col-title">Эл. почта:</div>
            <a href="mailto:press@newaeon.tech" class="footer__col-text">press@newaeon.tech</a>
          </div>
          <div class="footer__col footer__col-address">
            <div class="footer__col-title">Адрес:</div>
            <div class="footer__col-text">Республика Казахстан, г. Астана, улица Достык, 16, БЦ «Талан Тауэрс»
            </div>
          </div>
        </div>
        <div class="footer__menu menu-footer">
          <ul class="menu-footer__list">
            <li class="menu-footer__item"><a href="#" class="menu-footer__link">О компании</a></li>
            <li class="menu-footer__item"><a href="#" class="menu-footer__link">Антиплагиат</a></li>
            <li class="menu-footer__item"><a href="#" class="menu-footer__link">Пакеты услуг</a></li>
            <li class="menu-footer__item"><a href="#" class="menu-footer__link">Поддержка</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container">
      <div class="footer__bottom-body">
        <a href="#" class="footer__logo"><picture><source srcset="{% static 'img/logo.webp'%}" type="image/webp"><img src="{% static 'img/logo.png' %}" alt="logo"></picture></a>
        <div class="footer__socials">
          <div class="footer__soc-text">Соц. сети:</div>
          <a href="#" class="footer__soc">
            <svg width="40" height="29" viewBox="0 0 40 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M37.9034 5.14595C37.6998 4.33288 37.2854 3.58792 36.7018 2.9863C36.1182 2.38468 35.3862 1.94772 34.5797 1.71955C31.633 1 19.8462 1 19.8462 1C19.8462 1 8.05937 1 5.11267 1.78807C4.30617 2.01625 3.57417 2.45321 2.9906 3.05483C2.40703 3.65644 1.99256 4.40141 1.78905 5.21448C1.24976 8.20497 0.985965 11.2386 1.00098 14.2773C0.981756 17.3389 1.24557 20.3957 1.78905 23.4087C2.01341 24.1965 2.43717 24.9131 3.01938 25.4893C3.60159 26.0655 4.32257 26.4818 5.11267 26.698C8.05937 27.4861 19.8462 27.4861 19.8462 27.4861C19.8462 27.4861 31.633 27.4861 34.5797 26.698C35.3862 26.4699 36.1182 26.0329 36.7018 25.4313C37.2854 24.8297 37.6998 24.0847 37.9034 23.2716C38.4385 20.3037 38.7023 17.2931 38.6914 14.2773C38.7107 11.2157 38.4468 8.15896 37.9034 5.14595Z" stroke="black" stroke-opacity="0.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M15.9915 19.8794L25.8424 14.2772L15.9915 8.67505V19.8794Z" stroke="black" stroke-opacity="0.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
          <a href="#" class="footer__soc">
            <svg width="20" height="36" viewBox="0 0 20 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 1H14.0909C11.921 1 9.83988 1.89553 8.30549 3.48959C6.7711 5.08365 5.90909 7.24566 5.90909 9.5V14.6H1V21.4H5.90909V35H12.4545V21.4H17.3636L19 14.6H12.4545V9.5C12.4545 9.04913 12.6269 8.61673 12.9338 8.29792C13.2407 7.97911 13.6569 7.8 14.0909 7.8H19V1Z" stroke="black" stroke-opacity="0.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__copy">
        <div class="footer__copy-text">
          ©2022 New Aeon. All rights reserved.
        </div>
        <a href="#" class="footer__copy-link">Privacy Police</a>
      </div>
    </div>
  </div>
</footer>
</div>